:root {
    --font-family: "Cairo", sans-serif;
    --primary-color: #0077b6;
    --secondary-color: #f0f0f0;
    --tertiary-color: #B63F00;
    --quaternary-color: #FFC72E;
    --senary-color: #1CB600;
}

body {
    height: 100vh;
    margin: 0;
}

::placeholder {
    user-select: none;
}

* {
    font-family: var(--font-family);
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
    padding: 10px 0 10px 0;
}

table {
    border-spacing: 0;
    border-radius: 30px;
    border: 3px solid var(--primary-color);
    text-align: center;
    user-select: none;
    width: 500px;
    font-weight: 700;
    font-size: large;
    padding: 0;
    margin: 0;
}

th {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    font-size: larger;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

tr:nth-child(odd) {
    background-color: #0076b66a;
}

tr {
    direction: rtl;
}

td {
    padding: 10px;
}

tr:last-child td {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.no-select {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.hero-img {
    width: 400px;
}

input::placeholder {
    color: #0076b66a;
}

input::selection {
    background-color: var(--primary-color);
    color: white;
}

h1 {
    margin: 0;
    color: var(--primary-color);
    font-size: x-large;
    user-select: none;
}

h3 {
    margin: 0;
    color: #d6d6d6;
    user-select: none;
    font-size: medium;
}

a {
    text-decoration: none;
    margin: 0;
    color: #d6d6d6;
    user-select: none;
    font-size: small;
}

li {
    margin: 10px 0 10px 0;
    color: var(--tertiary-color);
    direction: rtl;
    display: none;
    user-select: none;
    font-weight: 500;
}

br {
    user-select: none;
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-container {
    height: 50px;
}

.password-icon {
    padding-right: 7px;
}

.label {
    background-color: var(--secondary-color);
    position: relative;
    display: block;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 30px;
    padding: 15px 8px 15px 10px;
    height: 20px;



    .icon {
        position: absolute;
        top: 55%;
        right: calc(100% - 80px);
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        color: var(--primary-color);
    }

    .input {
        align-self: center;
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--primary-color);
        font-size: 20px;
        direction: ltr;
        width: calc(100% - 50px);
        text-align: center;
        padding-right: 15px;
        height: 30px;
    }
}


input[type="button"] {
    height: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    transition: scale 0.3s ease;
    user-select: none;
}

input[type="button"]:active {
    scale: 90%;
}

/* input[type="button"]:hover {
    background-color: #0089d3;
} */

#join-btn {
    background-color: var(--primary-color);
}

#cont-btn {
    background-color: var(--quaternary-color);
}

#leave-btn {
    background-color: var(--tertiary-color);
}

#index-btn {
    background-color: var(--senary-color);
}

.scroll-icon {
    width: 35px;
}

#top {
    height: 50px;
    width: 55px;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    border: 3px solid white;
    background-color: var(--primary-color);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 90px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    line-height: 15px;
    text-align: center;
    user-select: none;
}

#top:hover {
    background-color: #0076b66a;
    /* Add a dark-grey background on hover */
}

.footer h3 {
    font-size: large;
}

@media screen and (max-width: 767px) {
    form {
        width: 90vw;
    }

    table {
        width: 90vw;
    }

    h1 {
        font-size: larger;
    }

    h3 {
        font-size: small;
    }


    .footer h3 {
        font-size: small;
    }

    .hero-img {
        width: 90vw;
    }
}